/****************
     GENERALE
*****************/     
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.flex   { display: flex;}
.flexWrap   {flex-wrap: wrap;}

.justifuCenter  { justify-content: center;}
.justifyBetween { justify-content: space-between;}
.justifyFlexEnd { justify-content: flex-end;}

.alignCenter    { align-items: center;}
.directionColumn    { flex-direction: column;}
.RowReverse    {flex-direction: row-reverse;}

.padding1   { padding: 1rem;}

main{
    height: calc(100vh - 180px);
}

footer{
    background-color: rgb(54, 53, 53);
    width: 100%;
    min-height: 100px;
}


/***************
    HEADER.
****************/

.row{
    width: calc(100% - 10%);
    max-height: 100px;
    background-color: rgba(0, 0, 0, 0.253);
}

button{
    background-color: bisque;
}

.sidebar{
    background-color: black;
    width: 10%;
    height: calc(100vh - 100px); /* da sottrarre succ footer */
}

#spotyfyIcona{
    filter: invert(1);
}

.boxIcone{
    width: 80%;
}

/* main. */
/* prima sezione. */

/* .container{
    background-color: brown;
    width: 100%;
    min-height: 100px;
}

.text{
    background-color: beige;
    width: calc(100% /4);
    text-align: center;
} */