/****************
     GENERALE
*****************/     
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.flex   { display: flex;}
.flexWrap   {flex-wrap: wrap;}
.justifuCenter  { justify-content: center;}
.justifyFlexEnd { justify-content: flex-end;}

.alignCenter    { align-items: center;}

.RowReverse    {flex-direction: row-reverse;}

.padding1   { padding: 1rem;}

main{
    height: calc(100vh - 180px);
    width: calc(100vw - 10%);
}

footer{
    background-color: rgb(54, 53, 53);
    width: 100%;
    min-height: 100px;
}


/* HEADER. */

.row{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.253);
    position: relative;
}

button{
    background-color: white;
    width: 40%;
    padding: 1rem;
    border-radius: 30%;
}

/*  NAVBAR. */

.colNav{
    background-color: black;
    width: 10%;
    height: 100%; /* da sottrarre succ footer */
    position: absolute;
}

span i{
    color: white;
    font-size: 35px;
    padding-bottom: 10px;
}

/* main. */
/* prima sezione. */

.container{
    background-color: brown;
    width: 100%;
    min-height: 100px;
}

.text{
    background-color: beige;
    width: calc(100% /4);
    text-align: center;
}